# Some theme info

[GdmGreeterTheme]
Greeter=lg3dv1.xml
Name=ProjectLookingGlass
Description=Project Looking Glass gdm theme
Author= radeczka
Screenshot=lg3dv1screen.jpg
Copyright= GPL 
